<h1>LogIn</h1>

<form action="/api/tokens" method="POST" data-name="sessionCreate">
  <div class="error-box"></div>
  <fieldset>
    <legend>Fill all fields</legend>

    <label>
      <em>Email</em>: <br>
      <input type="email" name="email" placeholder="Sir@Arthur.com">
    </label>

    <br>
    <br>

    <label>
      <em>Password</em>: <br>
      <input type="password" name="password" placeholder="Password">
    </label>
  </fieldset>
  <br>

  <button type="submit" class="btn btn--style1">LogIn</button>
</form>
